<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470011229852-0cp9d9dtktma6oh0uc86tcftjlgmjlv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470011229852-0cp9d9dtktma6oh0uc86tcftjlgmjlv7</string>
	<key>API_KEY</key>
	<string>AIzaSyAjJzENCrXrZF-7zXUFcphDpThmmx18tEk</string>
	<key>GCM_SENDER_ID</key>
	<string>470011229852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSample</string>
	<key>PROJECT_ID</key>
	<string>fluttersample-fa84a</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersample-fa84a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470011229852:ios:727fe3850b29bf17d6df59</string>
</dict>
</plist>